.node {
	fill:none;
	stroke:#eee;
	stroke-width:2px;
}
.label {
	font-size: 21px;
	line-height: 1.5;
	font-weight: bold;
  	color: Crimson;
}
.edgeLabels {
	font-size: 14px;
	font-weight: normal;
  	color: Crimson;
}