.node {
	fill:none;
	stroke:black;
	stroke-width:2px;
}
.label {
	font-size: 15px;
	line-height: 1.5;
	font-weight: bold;
  	color: Darkgreen;
}
.edgeLabels {
	font-size: 14px;
	font-weight: normal;
  	color: Crimson;
}